.aplayer {
  background: transparent !important;
  box-shadow: none;
  padding-left: 8px;
  padding-right: 8px;
}

.aplayer-author,
.aplayer-list-index,
.aplayer-list-author {
  color: white !important;
}

.aplayer-info {
  border-bottom: none !important;
  padding: 0 5px !important;
}

.aplayer-list {
  margin-top: 10px;
}

.aplayer-list-light {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.aplayer-list ol li {
  text-align: left;
  border-radius: 6px;
  border-top: none !important;
}

.aplayer-list ol li:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.aplayer-icon path {
  fill: white !important;
}

.aplayer-lrc {
  height: 50px !important;
}

.aplayer-lrc::after,
.aplayer-lrc::before {
  background: none !important;
}

.aplayer-lrc-contents .aplayer-lrc-current {
  color: white !important;
  font-size: 16px !important;
}

.aplayer-lrc-contents>p {
  color: rgba(255, 255, 255, 0.6) !important;
}